.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.wallet-Header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 5px;
  margin-right: 25px;
}

.wallet-header-img {
  align-self: flex-start;
  display: flex;
  height: 52px;
  justify-self: flex-start;
  padding: 15px;
  width: 150px;
}

.header-container {
  align-self: flex-end;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  justify-self: flex-end;
  width: 550px;
}
